[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/paul/Desktop/firefox.desktop]
row=2
col=0

[/home/paul/Desktop/zoom.desktop]
row=1
col=0

[/home/paul/Desktop/alacritty.desktop]
row=0
col=0

